<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Pixel Painter</title>
  <style>
    .canvas {
      border: 2px solid;
      /*display: inline-block;*/
      width: max-content;
    }
  </style>
</head>
<body>
  <div id="app">
    <div class="canvas">
      <canvas @click="drawDot" ref="canvas" :width="width" :height="height"></canvas>
    </div>
    <input type="color" v-model="color">
    <label :style="{color: c}" v-for="c of commonColors">
      <input type="radio" :value="c" v-model="color"> {{c}}
    </label>
  </div>
</body>
<script src="vue-2.5.17.js"></script>
<script>
  const app = new Vue({
    el: '#app',
    data() {
      return {
        pixelData: [],
        commonColors: ['red','orange','yellow','green','aqua','blue','purple','black','white'],
        color: 'red',
        width: 0,
        height: 0,
      }
    },
    methods: {
      drawDot(e) {
        // debugger
        this.ws.send(JSON.stringify({
          type: 'drawDot',
          x: e.layerX,
          y: e.layerY,
          color: this.color,
        }))
      }
    },
    mounted() {
      var ws = new WebSocket('ws://localhost:9095/pixel')
      this.ws = ws

      var canvas = this.$refs.canvas
      var ctx = canvas.getContext('2d')

      ws.onmessage = ({data}) => {
        data = JSON.parse(data)
        if (data.type == 'init') {

          this.width = data.pixelData[0].length
          this.height = data.pixelData.length

          Vue.nextTick(() => {
            data.pixelData.forEach((row, y) => {
              row.forEach((color, x) => {
                ctx.fillStyle = color
                ctx.fillRect(x, y, 1, 1)
              })
            })
          })

        } else if (data.type == 'updateDot') {
          ctx.fillStyle = data.color
          ctx.fillRect(data.x, data.y, 1, 1)
        }
      }
    }
  })
</script>
</html>