<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Pixel Painter</title>
  <style>
    .canvas {
      border: 2px solid;
      /*display: inline-block;*/
      width: max-content;
    }
    .row {
      display: flex;
    }
    .dot {
      width: 10px;
      height: 10px;
      border: 2px solid;
    }
  </style>
</head>
<body>
  <div id="app">
    <div class="canvas">
      <div class="row" v-for="(row, y) in pixelData">
        <span @click="drawDot(x, y, color)" class="dot" v-for="(dotColor, x) in row" :style="{background: dotColor}"></span>
      </div>
    </div>
    <label :style="{color: c}" v-for="c of commonColors">
      <input type="radio" :value="c" v-model="color"> {{c}}
    </label>
  </div>
</body>
<script src="vue-2.5.17.js"></script>
<script>
  const app = new Vue({
    el: '#app',
    data() {
      return {
        pixelData: [],
        commonColors: ['red','orange','yellow','green','aqua','blue','purple','black','white'],
        color: 'red',
      }
    },
    methods: {
      drawDot(x, y, color) {
        this.ws.send(JSON.stringify({
          type: 'drawDot',
          x, y, color,
        }))
      }
    },
    mounted() {
      var ws = new WebSocket('ws://localhost:9095/pixel')
      this.ws = ws

      ws.onmessage = ({data}) => {
        data = JSON.parse(data)
        if (data.type == 'init') {
          this.pixelData = data.pixelData
        } else if (data.type == 'updateDot') {
          Vue.set(this.pixelData[data.y], data.x, data.color)
        }
      }
    }
  })
</script>
</html>